@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700; 1900 & display=swap');

.html{
    font-size: 62.5%;
    line-height: 1.3;
  } 
  *{
    
      box-sizing: border-box;
  }
  
  body{
   max-width: 100%;
   margin:0;
   padding: 0;
   background: #f7f7f7;
   font-family:'roboto',sans-serif; 
  }
/*LOAdER*/
.loader_container {
    position: fixed;
    background-color: #9356DC;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
    animation: off 3s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}
.loader_container .dot {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--Primary);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    margin: 0 15px;
    animation: loader infinite 0.3s alternate;
}
.loader_container .dot.d2 {
    animation-delay: 0.05s;
    background: linear-gradient(80deg, #9356DC -11.44%, #FF79DA 123.93%);
}
.loader_container .dot.d3 {
    animation-delay: 0.1s;
    background-color: #FF79DA;
}
    @keyframes loader{
        100%{
            transform: translateY(-30px)
        }
    }
    @keyframes off{
        0%{
            transform: scale(0);
        }
        100%{
            transform: scale(0);
        }
    }

  .headerstyle{
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

      padding: 4.8px;
      position: relative;
  }

.logo{
    width: 200px;
    height: 34.2px;
}
.ville{
    display: flex;
    background-color:#EAEAEA;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 16px;
    padding: 8px; 

}
.ville i{
    font-size: 19px;
}
.backgroundGrey {
    background: rgb(246, 246, 246);
    text-align: center;
}
.article-réserverPadding h2 {
    margin-left: 0px;
    text-align: center;
}
.W300FS18 {
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    margin: 0px;
}
.btn1 {
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
    text-align: center;
    width: 220px;
    height: 50px;
    margin: 20px 0px;
    padding: 10px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 35px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

}
.btn1:hover {

    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    
}



.fonctionnement_article{
    width: 100%;
    background-color: white;
    padding-left: 15px;
   padding-right: 15px;
}

.lien{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    padding: 50px 0px 20px 10px;
    margin: 0;
}

.containerBtnFonctionnement 
a {
    margin: 25px auto;
}
.btn2{
    width: 100%;
    height: 72px;
    border-radius: 20px;
    background: rgb(246, 246, 246);
    font-family: "roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    border: none;
    padding: 0px;
   
    cursor: pointer;
}

.btn2  .violet{
    color: #9356DC;

}
.flexcenter{
    display: flex;
    align-items: center;
}
.cerclenumber{
    border-radius: 50%;
    background: #9356DC;
    width: 24px;
    height: 24px;
    color: white;
   position: absolute;
   left: -10px;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.icongrey{
    color: #7e7e7e;
    margin-left: 29px;
    margin-right: 15px;
    
}
/*CARTES*/
.mainRestaurant{
    padding-top: 20px;
}

.mainRestaurant h2{
    margin-top: 0px;
}
.mainRestaurantcards{
    width: 100%;
}
.mainRestaurantcard{
    width: 80%;
}

.Restaurantcard{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    padding-left: 13px;
    padding-right: 25px;
    row-gap: 5px;
    position: relative;
    z-index: 0;
}
.Restaurantcard h3{
    margin: 8px;
    height: 5px;
}

.Restaurantcard p{
    margin: 8px;
}
.mainRestaurantcard img{
    width: 100%;
    height: 175px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
}
.mainRestaurantcard{
    height: 251px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 25px auto;
    transition: all 1.5s;
    position: relative;
}
.mainRestaurantcard a{
    text-decoration: none;
}

.new{
 
    position: absolute;
    right: 11px;
    top: 11px;
     width: 80px;
    height: 29px;
     background: #99E2D0;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.new p{
    color: #008766;
}



.footerBox{
    
     background: #353535;
    /* padding: 22px 0px 22px 25px; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /*margin-top: 80px;*/
}

.footerBox h2 {
    font-family: 'Shrikhand';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    padding-top: 20px;
}
.footerBox h2, .footerBox p {
    color: white;
}
.footerList {
    display: flex;
    flex-direction: column;
}
  
.listNoSytle {
    list-style: none;
}
.footerBox li a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    
   
}
.footerBox svg {
    width: 11px;
    height: 13px;
    fill: white;
    
}
.footerBox p {
    color: white;
    margin: 0;
}

.fa-heart{
    position: absolute;
    right: 25px;
    font-size: 30px;
    bottom: 25px;
   opacity: 0.6;
}
.fa-heart:hover{
     background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
     background-clip: text;
     -webkit-background-clip: text;
     color: transparent;
     font-weight: bold;
    animation: remplissage 1s ;
    transform-origin: 50% 50%;
    opacity: 1;

     
     
        
}
@keyframes remplissage {
    /* 25%{
        opacity: 0.6;
    }
    50%{
        opacity: 0.8;
    }
    75%{
         opacity:0.95;
    }
    100%{
        opacity: 1;
    } */
    0%{
        opacity: 0.6;
    }
    100%{
        opacity: 1;
       
    }
}

/****RESPONSIV*/

@media screen and (min-width: 1024px){
    .body{
        min-width: 1024px;
    }
    .headerstyle{
        height: 96px;
    padding-top: 30px;
    }
    .logo{
    width: 200px;
    height: 34.2px;
    }
    .explorer{
        justify-content: space-between;
    }
    .article-réserverPadding h2{
        font-size: 40px;
        margin: 0;
    }
    .fonctionnement_article{
      
    padding: 50px 207px 50px 180px;
    }
    .backgroundGrey{
    width: 100%;
    flex-direction: column;
    gap: 18px;
    }

    .lien{
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
    .mainRestaurant{
        padding: 54px 180px 66px 180px;
    }
    .mainRestaurantcard img{
        object-position: center;
    }
    .mainRestaurantcard{
        min-width: 46%;
        max-width: 490px;
    }

    .mainRestaurantcards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 30px;
        flex-direction: row;
        ;
    }
   
   
   
 
    


/*FOOTER*/
.footerBox{
    height: 114px;
    padding: 0px 26px 30px 0px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: end;
}

.listNoSytle{
    display: flex;
    flex-direction: row;
    padding-right: 80px;
    gap: 20px;
}
}


